body{
    width: 80%;
    background-color:#FFF6DB;
    margin: 10px auto;
}
header{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header .avatar{
    width: 25%;
    margin-right: 30px;
}
header .avatar img{
    width: 100%;
}
header .tittle h1{
    font-size: 300%;
    color: #EF8762;
}
section .icon{
    text-align: center;
}
section .icon img{
    width: 50px;
}
section .contact{
    display: flex;
}
section .contact .allcontact{
    width: 33%;
}
section .allcontact img{
    width: 20px;
}
section .information{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
section .skill{
    border-right: dashed 5px #EF8762;
    width: 50%;
}
section .skill h1{
    color: #EF8762;
    font-size: 200%;
}
section .skill .theP{
    line-height: 50px;
}
section .skill .theP span{
    margin-right: 20px;
}
section .skill .theP img{
    width: 20px;
}
section .experience{
    width: 40%;
    margin-left: 10%; ;
}
section .experience h1{
    color: #EF8762;
    font-size: 200%;
}
section .experience .bigtitle{
    font-weight: bolder;
}
section .experience .littletitle{
    font-style: italic;
    font-size: 90%;
}
footer{
    display: flex;
}
footer .infor{
    width: 25%;
}
footer .infor img{
    width: 20px;
}
/* reponsive */
@media screen and (max-width:860px) {
    section .contact{
        flex-wrap: wrap;
    }
    section .contact .allcontact{
        width: 100%;
    }
}
@media screen and (max-width:750px) {
    footer{
        flex-wrap: wrap;
    }
    footer .infor{
        width: 50%;
    }   
    section .information .skill .skillist{
        margin-right: 200px;
    }
}
@media screen and (max-width:650px) {
    header .tittle{
    font-size: 80%;
}
}
