body{
    background-color: #E7E7E7;
}
.container{
    display: flex;
    margin-left:calc(20% + 50px) ;
}
.container .content1{
    background-color: white;
    width: 30%;
    margin: 20px 50px 20px 0px;
    padding: 10px 10px;
    height: 600px;
    overflow: hidden;
    box-shadow: 10px 10px 5px gainsboro;
}
.container .content1 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content1 header .year h1{
    color: #B2B2B2;
}

.container .content1 header .days p{
    color: #E9E9E9;
}
.container .content1 section .bigpicture img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.container .content1 section .pony{
    display: flex;
    margin-top: 20px;
}
.container .content1 section .pony .ponycolor{
    width: 40%;
    font-size: 80%;
    margin-left: 10px;
}
.container .content1 section .pony .ponycolor h2{
    margin-top: -5px;
}
.container .content1 section .pony .picturepony{
    width: 60%;
}
.container .content1 section .pony .picturepony img{
    width: 100%;
    height: 100px;
}
.container .content1 section .cmt{
    margin:30px 20px 0px 20px;
}
.container .content1 section .about{
    display: flex;
    margin-top: 10px;
}
.container .content1 section .about .cmt1{
    margin-bottom: 20px;
}
.container .content1 section .about .left{
    text-align: center;
    width: 50%;
}
.container .content1 section .about .right{
    text-align: center;
    width: 50%;
}
.container .content1 section .about .left img{
    width: 80%;
    aspect-ratio: 5/3;
}
.container .content1 section .about .right img{
    width: 100px;
    aspect-ratio: 3/4;
}
.container .content1 section .about .tt1{
    font-size: 80%;
    font-weight: bolder;
    text-align: center;
}
.container .content1 section .about .tt2{
    font-size: 80%;
    text-align: center;
}